@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --HeaderBackgroundCor: #56a2ee;
    --CorTitulo:#444186;
    --CorTituloInvertido:#9680d3;
    --CorAzul:#534ED9;
    --CorTextos:#000000;
    --CorTextosInvertido:#ffffff;
}

body {
    width: 100%;
    height: 100vh;
}

div#GridControl {
    display: grid;
    grid-template: auto 1fr/ 30px 1fr 30px;
    justify-content: center;
}

header {
    background-color: var(--HeaderBackgroundCor);
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

header h1 {
    color: var(--CorTitulo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    font-size: 1.9em;
    padding-top: 10px;
    margin-bottom: 8px;
}

div#options {
    flex: 0 1 auto;
}

span.material-symbols-outlined {
    color: #444186;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
    padding: 10px;
    margin-left: 10px;
    font-size: 1.8em;
    border-radius: 10px;
    cursor: pointer;
}

span.material-symbols-outlined:hover {
    color: #000000;
    background-color: white;
    transition: background-color .3s, color .3s;
}

header a {
    text-decoration: none;
}

main {
    grid-row: 2/-1;
    grid-column: 2/-2;
    padding: 65px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div#perfil {
    text-align: justify;
}

h2#titPerf {
    display: block;
    font: normal bold 2.1em Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    color: var(--CorAzul);
}

div#perfil img {
    display: block;
    margin: 0px auto 30px auto;
    width: 100%;
    max-width: 300px;
    border-radius: 10%;
    border: 2px solid rgb(58, 167, 201);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
}

h2#Nome {
    display: block;
    font: normal bold 1.9em Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    text-align: center;
    margin-bottom: 20px;
    color: var(--CorAzul);
}

div#perfil p {
   font: normal 1.2em Arial, Helvetica, sans-serif;
   width: 100%;
   max-width: 900px;
   margin: 0px auto;
   line-height: 26px; 
}

nav {
    text-align: center;
    font-size: 2em;
    margin: 30px 0px;
    
}

nav > a {
    margin: 0px 8px;
    color: var(--CorTitulo);
}

a:hover {
    color:#9680d3;
    transition-duration: .2s;
}

div#skills {
    margin-top: 37px;
}

span.IconCor {
    color: var(--CorAzul);
    padding: 0px;
    margin-right: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
}

h2 {
    display: inline-block;
    font: normal bold 2.1em Arial, Helvetica, sans-serif;
    color: var(--CorAzul);

}