@charset "UTF-8";

@media screen and (min-width:768px) {

    div#GridControl {
    display: grid;
    grid-template: auto 1fr/ 60px 1fr 30px;
    justify-content: center;
}
    
    header {
    background-color: var(--HeaderBackgroundCor);
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;

}

header h1 {
    color: var(--CorTextosInvertido);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    font-size: 2em;
    text-align: center;
}

main {
    grid-row: 2/-1;
    grid-column: 2/-2;
    display:grid;
    grid: auto 2fr 1fr/ 260px 2fr;
    align-items: start;
    gap: 16px;
    padding: 65px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

section#apresentacao {
    grid-row: 1/2;
    grid-column: 1/-1;
}

div#options {
    flex: 0 1 auto;
    text-align: center;
    margin-right: 0px;
}

span.material-symbols-outlined {
    color: var(--CorTitulo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
    padding: 10px;
    margin-left: 30px;
    font-size: 2.5em;
    border-radius: 10px;
    cursor: pointer;
}

.PerfilIcon {
    transform: translateY(17%);
}

#TirandoEspac {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

h2#titPerf {
    display: inline-block;
}

article.ProjetESkills {
    grid-column: 1/2;
    grid-row: 2/3;
    position: sticky;
    top: 0;
}

article#iProjeto {
    grid-column: 2/-1;
    grid-row: 2/3;
}

article#formacampo {
    grid-column: 1/-1;
    grid-row: 3/-1;
}

section#Projetcamp {
    margin: 20px 0px 0px 0px;
    text-align: center;
}

div#conteiner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

div.projeto {
    flex-flow: column-reverse nowrap;
    align-items: flex-start;

}

div.informacoes {
    width: 100%;
    max-width: 400px;
    text-align: justify;
}

div.informacoes h3 {
    font: normal bold 1.3em Arial, Helvetica, sans-serif;
    padding: 0px 2px;
}

div img.ProjetImag {
    width: 95%;
    aspect-ratio: 16/9; 
    border-radius: 10px;
    object-fit: cover;
}

div.projeto a {
    align-self: center;
}

}

@media screen and (min-width:1000px) {

    div#GridControl {
    display: grid;
    grid-template: auto 1fr/ 30px 70px 1fr 30px;
    justify-content: center;
}
    
    header {
    background-color: var(--HeaderBackgroundCor);
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;

}

header h1 {
    color: var(--CorTitulo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    font-size: 2.8em;
    padding-left: 80px;
    align-self: center;
    text-align: center;
}
}