@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1024px) {

    body {
    min-height: 100vh;
}

    div#GridControl {
    display: grid;
    grid-template: auto 1fr/ 60px 1fr 30px;
    justify-content: center;
}
    
    header {
    background-color: var(--HeaderBackgroundCor);
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;

}

header h1 {
    color: var(--CorTextosInvertido);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    font-size: 2em;
    text-align: center;
}

main {
    grid-row: 2/-1;
    grid-column: 2/-2;
    display:grid;
    grid-template-rows: auto; 
    grid-template-columns: 260px 2fr;
    align-items: start;
    gap: 20px;
    padding: 65px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

div#options {
    flex: 0 1 auto;
    text-align: center;
    margin-right: 0px;
}

.Iconmenu {
    color: var(--CorTitulo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
    padding: 10px;
    margin-left: 10px;
    font-size: 1.8em;
    border-radius: 10px;
    cursor: pointer;
}

.TelaMdesaparece {
    display: inline;
}

.ApenasTelaMedia {
    display: none;
}

.PerfilIcon {
    transform: translateY(15%);

}

#TirandoEspac {
    color: var(--CorAzul);
    display: inline-block;
    font-size: 2.1em;
    margin: 0px;
    padding: 0px;
}

nav > a {
    margin: 0px;
    color: var(--CorTitulo);
}

section span.material-symbols-outlined {
    font-size: 2.1em;
    transform: translateY(13%);
}

span.IconCor {
    color: var(--CorAzul);
    font-size: 1.8em;
    padding: 0px;
    margin: 0px 0px 0px 6px;
    transform: translateY(15%);
}

h2#titPerf {
    display: inline-block;
}

div#perfil p {
   font-size: 1.1em;
}

/*article.ProjetESkills {
    grid-column: 1/2;
    grid-row: 2/3;
    position: sticky;
    top: 120px;
}*/
div#usadaparaTelasMaiores {
    grid-column: 1/2;
    height: fit-content;
    position: sticky;
    top: 120px;
}
div#Conteudo {
    grid-column: 3/-1;
}

div#perfil img {
    width: 100%;
    max-width: 200px;
}

div#videoApresent {
    margin-top: 3px;
}

section#Projetcamp {
    margin: 20px 0px 0px 0px;
}

div#conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
}

div.projeto {
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: center;

}

div.informacoes {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

div.informacoes h3 {
    font: normal bold 1.3em Arial, Helvetica, sans-serif;
    padding: 0px 2px;
    text-align: center;
}

div img.ProjetImag {
    width: 95%;
    aspect-ratio: 16/9; 
    border-radius: 10px;
    object-fit: cover;
    margin-left: 0px;
}

div.projeto a {
    align-self: center;
}

} 

@media screen and (min-width:1024px) {

    body {
        background-color: var(--CorClaraBody);
    }

    div#GridControl {
    display: grid;
    grid-template: auto 1fr/ 84px 1fr 2fr 30px;
    justify-content: center;

}
    
    header {
    background-color: var(--HeaderBackgroundCor);
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;

}

header h1 {
    color: var(--CorTextosInvertido);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    font-size: 2.8em;
    padding-left: 80px;
    align-self: center;
    text-align: center;
}

div#options {
    padding-right: 36px;
}

.Iconmenu {
    font-size: 2.1em;
}

.TelaMdesaparece {
    display: none;
}

.ApenasTelaMedia {
    display: inline;
}

main {
    grid-row: 2/-1;
    grid-column: 2/-2;
    display:grid;
    grid-template-rows: auto; 
    grid-template-columns: 260px 2fr;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 40px 10px 10px 10px;
    margin-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--CorMainTelaGrande);
    
}

div#perfil h2#Nome {
    display: block;
    font: normal bold 2.4em Arial, Helvetica, sans-serif;
}

.PerfilIcon {
    transform: translateY(15%);

}

#TirandoEspac {
    color: var(--CorAzul);
    display: inline-block;
    font-size: 2.4em;
    margin: 0px;
    padding: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
}

h2#titPerf {
    font-size: 2.4em;
    display: inline-block;
}

span.IconCor {
    color: var(--CorAzul);
    font-size: 2.8em;
    padding: 0px;
    margin: 0px 0px 0px 6px;
    transform: translateY(15%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

nav {
    margin: 30px 0px 0px 0px;
    font-size: 2.7em;
}

div#perfil img {
    width: 100%;
    max-width: 383px;
}

div#usadaparaTelasMaiores {
    grid-column: 1/-1;
    grid-row: 1/2;
}
div#Conteudo {
    grid-column: 1/3;
    display: grid;
    grid-template: auto auto auto auto/ 1fr 2fr;
    gap: 16px;
    /*display: grid;
    grid-template: auto auto/ 1fr 2fr;
    justify-content: center;
    align-items: center;*/
}

article.videoapresenta {
    grid-column: 1/-1;
    grid-row: 2/3;
}

div#videoApresent {
    margin-top: 0px;
}

div#videoApresent h2 {
    font-size: 2.8em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

iframe {
    display: block;
    width: 80%;
    aspect-ratio: 16/9;
    margin: 44px auto 0px auto;
}

section#BlocotitFormac h2 {
    font-size: 2.8em;
}

p.periodo {
    font-size: 1.3em;
}
h2.formacao {
    font-size: 1.7em;
}
p.titulacao {
    font-size: 1.1em;
}

article.ProjetESkills {
    grid-column: 1/2;
    grid-row: 3/-1;
    position: sticky;
    height: fit-content;
    top: 100px;
}

main section#skills span.material-symbols-outlined {
    transform: translateY(14%);
}

section#Projetcamp > span.material-symbols-outlined {
    transform: translateY(13%);
}

section#skills h2, section span.material-symbols-outlined {
    font-size: 2.8em;
}

article#formacampo, article#iProjeto {
    grid-column: 2/3;
    grid-row: 3/-2;
}

article#iProjeto {
    grid-column: 2/3;
    grid-row: -2/-1;
}

div#conteiner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 27px;
}

section#Projetcamp h2 {
    font-size: 2.8em;
}

div.projeto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-right: 10px;

}

div.informacoes h3{
    font-size: 1.4em;
    text-align: left;
    margin: 0px 0px 10px 0px;
    padding-left: 7px;
}

div.informacoes p {
    font: normal 1.1em Arial, Helvetica, sans-serif;
    text-align: justify;
    align-self: flex-start;
    padding: 0px 0px 0px 8px;
    margin-bottom: 10px;
    line-height: 24px;
    width: 100%;
    max-width: 800px;
}

summary {
    margin: 16px 0px 0px 0px;
    padding-left: 15px;
    font-size: 1.2em;
}

div.informacoes details p{
    margin-top: 6px;
    padding: 0px 10px 0px 15px;
}

div.projeto a.CentroImagRow {
    display: block;
    align-self: center;
}

div.projeto img.Umpoucomaior {
    margin-left: 8px;
}

/*div.projeto img.Umpoucomaior {
    width: 97%;
} */

div.projeto img.UmpoucomenorImagem3d {
    width: 95%;
    margin-left: 20px;
    aspect-ratio: 16/9; 
    border-radius: 10px;
    object-fit: cover;
}

div.projeto img.UmpoucomenorCordero {
    width: 95%;
}

div.projeto > div.informacoes > h3.ParagCordero {
    width: 100%;
    
    
}

div.projeto a.Linkdo3d {
    text-align: right;
    padding-right: 10px;
}

div img.ProjetImag {
    aspect-ratio: 16/9; 
    border-radius: 10px;
    object-fit: cover;
    margin-left: 10px;
}

footer h1 {
    font-size: 1.4em;
}

footer .FooterIcons {
    font-size: 1.4em;
}

}